<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-center">
    <span class="text-muted">© 2023-{{currentYear}}</span>
    <p class="text-muted">
      本網站所有資料僅供參考，如使用者依本資料交易發生交易損失需自行負責，本網站對資料內容錯誤、更新延誤或傳輸中斷不負任何責任
    </p>
  </div>
</footer>