<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">股票代號</th>
      {{! <th scope="col">股票名稱</th> }}
      <th scope="col">移除自選股</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
      <tr>
        <th scope="row">{{addIndex @index}}</th>
        <td>{{this.stockId}}</td>
        {{!-- <td>{{this.name}}</td> --}}
        <td>
          <form action="/stock/{{this.id}}?_method=DELETE" method="post">
            <button class="btn btn-danger" type="submit">X</button>
          </form>
          {{! <a class="btn btn-success" href="#">+</a> }}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>